node-red/dashboard.json
[
    {
        "id": "54930d949900e456",
        "type": "tab",
        "label": "CapstoneDashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de01f2962af5e250",
        "type": "debug",
        "z": "54930d949900e456",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "9a79e36004faed7e",
        "type": "mqtt in",
        "z": "54930d949900e456",
        "name": "temp_mqtt",
        "topic": "industrial/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f1721869b4f29a81",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 780,
        "wires": [
            [
                "de01f2962af5e250",
                "fae249154dcb9570"
            ]
        ]
    },
    {
        "id": "fae249154dcb9570",
        "type": "ui_gauge",
        "z": "54930d949900e456",
        "name": "temperature",
        "group": "ebc6b541f6984720",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "°c",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "84178d9ed3a509f2",
        "type": "mqtt in",
        "z": "54930d949900e456",
        "name": "hum_mqtt",
        "topic": "industrial/humidity",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f1721869b4f29a81",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 680,
        "wires": [
            [
                "17e97d2b6f958708",
                "de01f2962af5e250"
            ]
        ]
    },
    {
        "id": "17e97d2b6f958708",
        "type": "ui_gauge",
        "z": "54930d949900e456",
        "name": "humidity",
        "group": "ebc6b541f6984720",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "a1109d408f6573a6",
        "type": "ui_toast",
        "z": "54930d949900e456",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "88fbacfc6f7c60d6",
        "type": "mqtt in",
        "z": "54930d949900e456",
        "name": "alerts_mqtt",
        "topic": "industrial/alert",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f1721869b4f29a81",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "a1109d408f6573a6",
                "de01f2962af5e250"
            ]
        ]
    },
    {
        "id": "0fcbdc8e36b58506",
        "type": "ui_text",
        "z": "54930d949900e456",
        "group": "ebc6b541f6984720",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Servo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "bce65f4e9e6c0d5f",
        "type": "mqtt in",
        "z": "54930d949900e456",
        "name": "servo_mqtt",
        "topic": "industrial/status/servo",
        "qos": "0",
        "datatype": "utf8",
        "broker": "f1721869b4f29a81",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "0fcbdc8e36b58506",
                "de01f2962af5e250"
            ]
        ]
    },
    {
        "id": "f1721869b4f29a81",
        "type": "mqtt-broker",
        "name": "",
        "broker": "4ad69f6da3c74bbfb6e86c67d1c0d440.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "95a0849586637fd6",
        "clientid": "dashboard_node_red",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ebc6b541f6984720",
        "type": "ui_group",
        "name": "Default",
        "tab": "b107bd7440c07e05",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "95a0849586637fd6",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "isrgrootx1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b107bd7440c07e05",
        "type": "ui_tab",
        "name": "Mqtt",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]